<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="request.css">
    <link rel="stylesheet" href="navbar.css">
    <title>DONOR REQUEST</title>
</head>

<body>
    <%- include('../partials/navbar.html')%>

    <div class="patient_request_section">
        <h1>patients Requests</h1>
        <div class="request_sec">
            
           
            <div class="card">
                <table class="detailes" >
                    <tr class="fields">
                        <th>NAME:</th>
                        <td>Puneeth Rajkumar</td>
        
                    </tr>
                    <tr class="fields">
                        <th>DOB:</td>
                        <td>17/03/1975</td>
        
                    </tr>
                    <tr class="fields">
                        <th>PHONE NO:</td>
                        <td>9035425459</td>
        
                    </tr>
                    <tr class="fields">
                        <th>LOCATION:</td>
                        <td>BANGLORE  HSR layout </td>
        
                    </tr>
                    <tr class="fields">
                        <th>BLOOD GROUP:</td>
                        <td>A+</td>
        
                    </tr>
                    <tr class="fields">
                        <th>UNIT OF BLOOD:</td>
                        <td>2</td>
        
                    </tr>
                    <tr class="fields">
                        <th>  DISEASE:</td>
                        <td>FEAVER</td>
        
                    </tr>
                    <tr class="fields">
                        <th>  HOSPITAL:</td>
                        <td>Nanjappa hospital,shimoga</td>
        
                    </tr>
                   
                </table>
                <div class="status_sec">
                    <button class="Approve status ">Approve <i class="fa-regular fa-circle-check"></i></button>
                    <button class="Reject status">Reject <i class="fa-regular fa-circle-xmark"></i></button>

                </div>

            </div>
            <div class="card">
                <table class="detailes" >
                    <tr class="fields">
                        <th>NAME:</th>
                        <td>Puneeth Rajkumar</td>
        
                    </tr>
                    <tr class="fields">
                        <th>DOB:</td>
                        <td>17/03/1975</td>
        
                    </tr>
                    <tr class="fields">
                        <th>PHONE NO:</td>
                        <td>9035425459</td>
        
                    </tr>
                    <tr class="fields">
                        <th>LOCATION:</td>
                        <td>BANGLORE  HSR layout </td>
        
                    </tr>
                    <tr class="fields">
                        <th>BLOOD GROUP:</td>
                        <td>A+</td>
        
                    </tr>
                    <tr class="fields">
                        <th>UNIT OF BLOOD:</td>
                        <td>2</td>
        
                    </tr>
                    <tr class="fields">
                        <th>  DISEASE:</td>
                        <td>FEAVER</td>
        
                    </tr>
                    <tr class="fields">
                        <th>  HOSPITAL:</td>
                        <td>Nanjappa hospital,shimoga</td>
        
                    </tr>
                   
                </table>
                <div class="status_sec">
                    <button class="Approve status ">Approve <i class="fa-regular fa-circle-check"></i></button>
                    <button class="Reject status">Reject <i class="fa-regular fa-circle-xmark"></i></button>

                </div>

            </div>
        </div>
    </div>

</body>

</html>