@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Grand+Hotel&family=Montserrat:ital,wght@0,100;0,500;1,300;1,900&family=Nunito:ital,wght@0,300;0,400;1,600&family=Old+Standard+TT&family=Oswald:wght@200;400&family=Poppins:wght@100;300&family=Prompt:ital,wght@0,400;1,300&family=Secular+One&family=Ubuntu:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
.program_creation_sec {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(104, 104, 104, 0.272); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 6rem; */
}
.program_creation_sec .programs {
    overflow: hidden;
    width: 20rem;
    height: 23rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px .5rem .1rem rgba(0, 0, 0, 0.591);
    /* margin: 10rem; */
    background-color: rgba(255, 255, 255, 0.509);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
.program_upload .fields {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5rem 0;
}

.program_upload .fields label {
    margin: 0 1rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    color: #001173;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
}

.program_upload .fields input[type=text]{
    margin: .5rem;
    padding: .7rem 1rem;
    font-size: .9rem;
    width: 100%;
    transition: .5s ease;
    outline: none;
    border: .001rem solid #00000054;
    border-radius: .4rem;
    background-color: rgb(183 183 183 / 0%);
}
.program_upload .fields textarea{
    margin: .5rem;
    padding: .7rem 1rem;
    font-size: .9rem;
    width: 100%;
    transition: .5s ease;
    outline: none;
    border: .001rem solid #00000054;
    border-radius: .4rem;
    background-color: rgb(183 183 183 / 0%);
}



.program_upload .fields input::placeholder {
    color: black
}
.program_upload .fields input[type=text]:hover,
.program_upload .fields textarea:hover,
select:hover {
    background-color: rgba(0, 0, 0, 0.034);
}
.program_upload .fields input[type=text]:focus{
    box-shadow: 0 0 .4rem #0d0dd784;
    border: .001rem solid #0d0dd7a8;

}
.program_upload .fields input::placeholder {
    color: #0404046f;
    font-weight: 500;
}


.program_upload .upload{

    padding:.4rem .5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(72, 0, 255);
    /* margin:.9rem 0 0 0; */
    color:whitesmoke;
    border: none;
    outline: none;
    border-radius: .3rem;
    width: 10rem;
    height: 2.2rem;
    transition: .5s ease;

}
.program_upload .upload:hover{
    background-color: #1e1ee383;

}